<%- include('../partials/header') %>

<game>
    <ul>
        <% games.forEach(function(g) { %>
            <section>
                <h4><%= g.name %></h4>
                <img src="<%= g.image %>">
                <button onclick= "window.location.href='/games/<%= g._id%>';">DETAILS</button>
            </section>
        <% }); %>
    </ul>
</game>

<%- include('../partials/footer') %>