<%- include('../partials/header') %>

<form action="/games/<%= games.id %>?_method=PUT" method="POST">
    <label>Category:</label>
    <select name="category" value="<%=games.category%>">
        <option value="AAA">AAA</option>
        <option value="Indie">Indie</option>
    </select>
    <label>Name:</label>
    <input type="text" name="name" value="<%=games.name%>">
    <label>Release Date:</label>
    <input type="date" name="releaseDate" value="<%=games.releaseDate%>">
    <label>Genre:</label>
    <select name="genre" value="<%=games.genre%>">
        <option value="Action">Action</option>
        <option value="Action-Adventure">Action-Adventure</option>
        <option value="Adventure">Adventure</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Role-playing">Role-playing</option>
        <option value="Simulation">Simulation</option>
        <option value="Strategy">Strategy</option>
        <option value="Sports">Sports</option>
        <option value="MMO">MMO</option>
        <option value="Other">Other</option>
    </select>
    <label>Console:</label>
    <select name="console" value="<%=games.console%>">
        <option value="Playstation">Playstation</option>
        <option value="Xbox">Xbox</option>
        <option value="Nintendo">Nintendo</option>
        <option value="PC">PC</option>
    </select>
    <label>Image URL link:</label>
    <input type="text" name="image" value="<%=games.image%>">
    <label>Description:</label>
    <input type="text" name="description" value="<%=games.description%>">
    <input type="submit" value="SUBMIT">
</form>

<%- include('../partials/footer') %>