<%- include('../partials/header') %>

<section id="show-page">
    <div>Name:</div>
    <div><%= games.name %></div>
    <div>Release Date:</div>
    <div><%= games.releaseDate %></div>
    <div>Genre:</div>
    <div><%= games.genre %></div>
    <div>Console:</div>
    <div><%= games.console %></div>
    <div>Description:</div>
    <div><%= games.description %></div>
</section>

<%- include('../partials/footer') %>